<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
		</startup>
	<appSettings>
		<add key="StorageConnectionString"
				 value="DefaultEndpointsProtocol=https;AccountName=factondevcontentblob;AccountKey=Xp9uIyGfpsezV4Hvv7e3ftZnpa0XNEyo5G6xNUq7QqoiFwbex7AvxenVTHirJo5t0n4eNT9uVxposrqUNAjwJg==" />
	</appSettings>
</configuration>